@import "tailwindcss";

.container {
  margin: 0 auto;
}

body {
  background: rgb(243, 242, 242);
}

input:focus {
  outline: none;
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(20);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 600ms linear;
}